
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: transform 0.5s ease-in-out;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.arrow {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.arrow img {
    width: 20px; 
    height: auto;
    margin-right: 5px; 
}

.myImg {
    width: 25%;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
  }

  .dot.active {
    background-color: #801d1d;
  }

#slider_pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }